<div class="">
    <h3>
        <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
            {{ post.message }}
        </a>
    </h3>
        <p class="media-heading">
            <span class="username">
                <a href="{% url 'posts:for_user' username=post.user.username %}">
                    <br/>@{{ post.user.username }}
                </a>
            </span>
               {{ post.created_at }}
            {% if post.circle %}
			{{ post.circle.name }}
			{% endif %}
        </p>
        <div class="media-footer">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-md btn-fill btn-danger">
					Delete
				</a>
			{% endif %}
		</div>

</div>