{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}

<section class="ftco-section">
		<div class="container">
          <h2>We've emailed you instructions for resetting your password.</h2>
          <p>If you don't receive an email, please make sure you've entered the email you registered with.</p>
		</div>
	</section>
<script>
setTimeout(function(){
     window.location.href = "{% url 'login' %}";
}, 5000);
</script>

{% endblock %}
