{% extends 'base.html' %}
{% block title %}{{ circle.name }}{% endblock %}

{% block content %}
    <div class='col-md-4'>

            <h2>Your Circle</h2>

        {% if user.is_authenticated %}

        <div class="col-md-8">
        <div class="list-group">
            {% if request.user.profile.user_type == 'vip' %}
            {% for circle in object_list %}
                {% if request.user == circle.owner %}
                    <a href="{% url 'circle:single' slug=circle.slug %}" class="list-group-item">
                        <h3 class="title list_group-item-heading">{{ circle.name }}</h3>
                        <p>by: {{ circle.owner }}</p>
                        <div class="list-group-item-text container-fluid">
                            {{ circle.description|safe }}
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="badge">{{ circle.members.count }}</span>
                                    member{{ circle.members.count|pluralize }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% else %}
                    you don't have a circle!
                    <a href="{% url 'circle:create' %} " class="btn btn-md btn-fill btn-warning">
                        <span class="glyphicon glyphicon-plus-sign"></span>Create Circle
                    </a>
                {% endif %}
            {% endfor %}
            {% else %}
                {% if request.user.profile.user_type == 'helper' %}
                    {% for circle in object_list %}
                        {% if request.user in circle.members.all %}
                            <a href="{% url 'circle:single' slug=circle.slug %}" class="list-group-item">
                        <h3 class="title list_group-item-heading">{{ circle.name }}</h3>
                        <p>by: {{ circle.owner }}</p>
                        <div class="list-group-item-text container-fluid">
                            {{ circle.description|safe }}
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="badge">{{ circle.members.count }}</span>
                                    member{{ circle.members.count|pluralize }}
                                </div>
                            </div>
                        </div>
                    </a>
            {% else %}
                    <p>You don't belong to any circle</p>
                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endif %}

        </div>
    </div>
        {% endif %}
    </div>



{% endblock %}
