{% extends 'base.html' %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1>Welcome to folome!</h1><hr/>
        <p style="text-align:justify">
            Have you ever wanted to monitor your loved ones who are physically disabled
            (like visually impaired) and know their where about while they're out of sight?
            Folome makes it easy!
            On folome we have two user type: vip (your loved one you'd want to monitor) and helper
            (the family and friends of the vip).
            signup, update profile and user type. first on the vip's account, create a cycle and
            send invite (through email) to family and friends you'd want to be in the vip cycle.
            this is to ensure only those with an invite can join a cycle to monitor their loved ones.
            with this you can always know where the vip is, like when they go for a walk or something,
            you make a post before they leave and it shows both the time and distance to the
            destination and everyone on the cycle get to know and track them, call them or give
            assistance if needed.


        </p>
    </div>
</section>
{% endblock %}